
header {

	max-width: 100vw;
	background: #BBBBBB;
	padding:  ;
}
header h1{
	margin-left: 10vw;
	max-width: 95vw;
	padding: 20px auto;
}


.caixa {
	position: relative;
	width: 97vw;
	margin: 0 auto;
}

nav {
	display: inline-block;
	position:absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline-block;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.produtos {
	
	display: inline;
	width: 97vw;
	margin: 0 ;
	padding: 50px 0;
	
	
}
.main-conteudo{
	display: block;
	max-width: 97vw;
	min-width: 300px;
	margin: 10vh 15vw ;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
	min-width: 150px;
	min-height: 150px;
}


.produtos li:hover {
	border-color: #C78C19;
}

.produtos li:active {
	border-color: #088C19;	
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}
footer{
	padding: 10px;
	max-width: 98vw;
	background-color: black;
	text-align: center;
	
}
footer > p{
	color: white;
	padding: 10px;
}
footer > p > a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	padding: 10px;

} 
footer > p > a:hover{
	color: darkslateblue;
}

main{
	width: 940px;
	
	margin:0 50px;
}
form{
	margin-top: 40px;
	margin-bottom: 40px;

}
form > label,legend {
	font-size: 1.1em;
	font-weight: 600;
	display: block;
	padding: 5px;
}
form > input, textarea{
	display: block;
	padding: 10px;
	margin: 5px;
	width: 50vw;


}


.checkbox{
	margin: 10px;
	padding: 2px;
}
.enviar{
	width: 40vw;
	padding: 10px;
	background-color: #C78C19;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 10px;
	transition: 1s ;
	cursor: pointer;
	
}

.enviar:hover{
	background-color: darkorange;
	transform: scale(1.1);

}
table{
	margin: 20px;
}
thead{

	background-color: #555555;
	color: white;
	
}

td,th{
	padding:10px 20px;
	border: 1px solid black;
}

/* pagina Home */

*{
	margin: 0%;
	
}
.banner {
	margin: 0;
	padding: 0;

	width: 93.5vw;

	
	
}

.principal{
	
	width: 93vw;
	padding-top: 30px;
	padding-right: 0px;
	clear: left;
	margin-bottom: 20px;
	
	

}
.principal p{
	padding: 5px;
	margin: 10px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	line-height: 1.3em;
	
}

.titulo-principal {
	padding-left: 20px;
	text-align: center;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 2em;
	
}
p {
	text-align: center;
}

#missao {
	display: block;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	
	font-size: 1.5em;
}

em strong {
	color: #FF0000;
}



.beneficios {
	width: 93vw;
	background: #FFFFFF;
	
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}
.conteudo-beneficios{
	display:flex;
	width: 940px;
	margin: 30px ;
	vertical-align: middle;

}
.lista-beneficios{
	margin: 62px auto;
	align-content: space-between;
	width: 30%;
	text-decoration: wavy;
	
	
	
}
.itens{
	line-height: 2.5em;

}
.itens:nth-child(2n){
	font-weight: bold;
}
.imagem-beneficios {
	width: 60%;
}
.video{
	width: 560px;
	margin: 2em auto;
}
.utensilios{
	width: 150px;
	float:left;
	margin: 5px;

}
body{
	
	font-family: 'Montserrat', sans-serif;
	
}
.mapa{
	margin: 10px;
	width: 90vw;
	text-align: center;
	padding: auto 40px;
	align-items:center ;

}
.mapa-conteudo{
	width: 940;
	margin: 0 auto;
}
.mapa p{
	margin: 0 0 30px;
}
 h3{
	
	font-size: 2em;
	margin: 20px;
	
}


