*{
	margin: 0%;
}
#banner {
	background-color: black;
	background-image: url(banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center right;
	
	width: 90vw;
	height: 50vh;
	margin: 20px;
	

	
	
}

.principal{
	width: 90vw;
	
	background: #CCCCCC;
	padding: 30px;
	

}
.principal p{
	padding: 5px;
	margin: 10px;
}

.titulo-principal {
	padding-left: 20px;
	
}

.titulo-centralizado {
	text-align: center;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 2em;
	 
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #FF0000;
}

.itens {
	font-style: italic
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}
